#platform=x86, AMD64, 或 Intel EM64T
#version=DEVEL
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use network installation
url --url="http://192.168.106.10/centos-6.7-x86_64"
# Root password
rootpw --iscrypted $1$S49ZF.Pk$oJGRiH99pvbZEJqZoe0mX0
# System authorization information
auth  --useshadow  --passalgo=sha512
# Use text mode install
text
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info
# Reboot after installation
reboot
# System timezone
timezone --isUtc Asia/Shanghai
# Network information
network  --bootproto=dhcp --device=eth0 --onboot=on
network  --bootproto=dhcp --device=eth1 --onboot=on
# System bootloader configuration
bootloader --location=mbr 
# Clear the Master Boot Record
zerombr 
# Partition clearing information
clearpart --all --initlabel 
# Disk partitioning information
part swap --fstype="swap" --size=2048
part /boot --fstype="ext4" --size=500
part / --asprimary --fstype="ext4" --grow --size=1

%packages
@chinese-support

%end
